/* Import in your CSS */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body, html {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #111;
    color: #fff;
    overflow: hidden;
    padding: 5px 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

nav h1 {
    font-size: 1.5em;
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.routing-sidebar {
    flex: 10%;
    flex-grow: 1;
    background-color: #222;
    color: #fff;

    padding: 5px 10px;
}

.routing-sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.map-wrapper {
    flex: 80% 1 0;
}

.routing-info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.1em;
    margin-bottom: 5px;
}

.routing-info-item:last-of-type {
    margin-bottom: 0;
}

.trip-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.trip-button:hover {
    background-color: #eee;
}

.trip-button:active {
    background-color: #ddd;
}

.routing-info-item select + input {
    width: 70px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    -moz-appearance: textfield;
}

.routing-info-item input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    -moz-appearance: textfield;
}

.routing-info-item select {
    padding: 5px;
    border: 1px solid #ccc;
    flex-grow: 1;
    background-color: #eee;
    border-radius: 5px 0 0 5px;
}

.routing-info-item select.only-one {
    border-radius: 5px;
    width: 100%;
}

.routing-info-icon {
    font-size: 1.2em;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.routing-info-item input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.routing-info {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #fff;
}

.map {
    max-height: calc(100vh - 50px);
    max-width: 100vw;
    aspect-ratio: 1500 / 1000;
    width: auto;
    height: auto;
    background-image: url("Beach.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 5% 1%;
}

.map-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-cell {
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
}

.map-cell.port-1 {
    margin-top: 0;
    margin-left: 0;
}